@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>Placeholder Image</p>

<img src="~/img/websiteLogoText.png" alt="brand logo with text" />

<h2>Credits and Attributions</h2>
<p>Logo and thumbnail image from <a href="https://www.pngegg.com/en/png-yknnu">Image by PNGEgg</a>, No Copyright Infringement is intended. The image is being used here for educational purposes.</p>
